<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.persistence.entity.CartEntityMapper">
  <select id="getCartItemsByUserId" resultType="org.mybatis.jpetstore.domain.querydata.CartItem">
    SELECT
       CART.USERID ,
       CART.ITEMID ,
       CART.PRODUCTID,
       CART.QUANTITY,
       ITEM.ATTR1 as description,
       ITEM.LISTPRICE
    FROM 
       CART,
       ITEM
    WHERE 
       CART.PRODUCTID = ITEM.PRODUCTID AND
       CART.ITEMID = ITEM.ITEMID AND
       CART.USERID = #{userId}
  </select>
  
</mapper>