<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colourful.domain.persistence.CartMapper">

  <cache />
  <select id="readByPk" parameterType="com.colourful.domain.record.Cart" resultType="com.colourful.domain.record.Cart">
    SELECT
       USERID ,
       ITEMID ,
       PRODUCTID,
       QUANTITY
    FROM 
       CART
    WHERE 
       USERID = #{userId} AND
       ITEMID = #{itemId} AND
       PRODUCTID = #{productId}
  </select>

  <insert id="insert" parameterType="com.colourful.domain.record.Cart">
    INSERT INTO CART(USERID,ITEMID,PRODUCTID,QUANTITY)
    VALUES (#{userId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{productId,jdbcType=VARCHAR}, #{quantity,jdbcType=VARCHAR})
  </insert>
  
    <insert id="update" parameterType="com.colourful.domain.record.Cart">
    UPDATE
      CART
    SET
      QUANTITY = #{quantity}
    WHERE
       USERID = #{userId} AND
       ITEMID = #{itemId} AND
       PRODUCTID = #{productId}
  </insert>
  
</mapper>