<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colourful.domain.entity.mapper.CartDetailEntityMapper">
	<update id="changeCartId" parameterType="com.colourful.domain.entity.param.ChangeCartIdParam">
    update
       BRN_CART_DETAIL 
    set
       CART_ID = #{toCartId},UPDATE_DATE = CURRENT_TIMESTAMP 
    where
       CART_ID = #{fromCartId}
    </update>

  <select id="getRecords" parameterType="com.colourful.domain.generated.record.BrnCartDetail" resultType="com.colourful.domain.generated.record.BrnCartDetail">
    select
       CART_ID cartId,USER_ID userId,CREATE_DATE createDate,UPDATE_DATE updateDate,DEL_FLG delFlg 
    from
       BRN_CART 
	where
	    DEL_FLG = 0
	    <if test="cartId != null" > AND CART_ID = #{cartId} </if>
	    <if test="userId != null" > AND USER_ID = #{userId} </if>
	    <if test="createDate != null" > AND CREATE_DATE = #{createDate} </if>
	    <if test="updateDate != null" > AND UPDATE_DATE = #{updateDate} </if>
    </select>
</mapper>