<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colourful.domain.entity.mapper.OrderEntityMapper">
<select id="getOrderedProductDetailList"  parameterType="Long" resultType="com.colourful.domain.data.ProductDetail">
  SELECT
     PRODUCT.PRODUCT_NAME productName,
     ORDER_DETAIL.LIST_PRICE unitPrice,
     PRODUCT.UNIT unit,
     PRODUCT.DESCRIPTION description,
     PRODUCT.PRODUCT_ID productId,
     ORDER_DETAIL.QUANTITY quantity,
     IMAGE.IMAGE_FILE imgFileMain
  FROM
     BRN_ORDER_DETAIL as ORDER_DETAIL, 
     BRN_PRODUCT as PRODUCT
  LEFT JOIN BRN_IMAGE as IMAGE ON
     IMAGE.ID  =  PRODUCT.PRODUCT_ID  AND
     IMAGE.SEQ = 1 
  WHERE
     ORDER_DETAIL.PRODUCT_ID = PRODUCT.PRODUCT_ID AND
     ORDER_DETAIL.ORDER_ID = #{cartId} AND
     ORDER_DETAIL.DEL_FLG = 0
</select>
<insert id="insert"  useGeneratedKeys="true" parameterType="com.colourful.domain.generated.record.BrnOrder">
    <selectKey keyProperty="orderId" resultType="Long" order="BEFORE">
        select cast(nextval('order_id_seq') as INTEGER) 
    </selectKey>
    insert into
       BRN_ORDER 
    values
       (#{orderId},#{cartId},#{status},#{shipName},#{shipZip},#{shipCountry},#{shipCity},#{shipDate},#{shipAddress},#{phone},#{cellPhone},#{email},#{crtcardNo},#{crtcardHolder},#{exprdate},#{cardtype},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
</insert>
  
</mapper>