<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.colourful.domain.entity.mapper.OrderEntityMapper">
<select id="getOrderedProductDetailList"  parameterType="Long" resultType="com.colourful.domain.data.ProductDetail">
  SELECT
     PRODUCT.PRODUCT_NAME productName,
     ORDER_DETAIL.LIST_PRICE unitPrice,
     PRODUCT.UNIT unit,
     PRODUCT.DESCRIPTION description,
     PRODUCT.PRODUCT_ID productId,
     ORDER_DETAIL.QUANTITY quantity,
     IMAGE.IMAGE_FILE imgFileMain
  FROM
     BRN_ORDER_DETAIL as ORDER_DETAIL, 
     BRN_PRODUCT as PRODUCT
  LEFT JOIN BRN_IMAGE as IMAGE ON
     IMAGE.ID  =  PRODUCT.PRODUCT_ID  AND
     IMAGE.SEQ = 1 
  WHERE
     ORDER_DETAIL.PRODUCT_ID = PRODUCT.PRODUCT_ID AND
     ORDER_DETAIL.ORDER_ID = #{cartId} AND
     ORDER_DETAIL.DEL_FLG = 0
</select>
<insert id="insert"  useGeneratedKeys="true" parameterType="com.colourful.domain.generated.record.BrnOrder">
    <selectKey keyProperty="orderId" resultType="Long" order="BEFORE">
        select cast(nextval('order_id_seq') as INTEGER) 
    </selectKey>
    insert into
       BRN_ORDER 
    values
       (#{orderId},#{cartId},#{status},#{shipName},#{shipZip},#{shipCountry},#{shipCity},#{shipDate},#{shipAddress},#{phone},#{cellPhone},#{email},#{crtcardNo},#{crtcardHolder},#{exprdate},#{cardtype},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
</insert>
<select id="getRecords" parameterType="com.colourful.domain.generated.record.BrnOrder" resultType="com.colourful.domain.generated.record.BrnOrder">
	 select
	    ORDER_ID orderId,CART_ID cartId,STATUS status,SHIP_NAME shipName,SHIP_ZIP shipZip,SHIP_COUNTRY shipCountry,SHIP_CITY shipCity,SHIP_DATE shipDate,SHIP_ADDRESS shipAddress,PHONE phone,CELL_PHONE cellPhone,EMAIL email,CRTCARD_NO crtcardNo,CRTCARD_HOLDER crtcardHolder,EXPRDATE exprdate,CARDTYPE cardtype,CREATE_DATE createDate,UPDATE_DATE updateDate,DEL_FLG delFlg 
	 from
	    BRN_ORDER 
     where
	    DEL_FLG = 0 
	    <if test="orderId != null" > AND ORDER_ID = #{orderId} </if>
	    <if test="cartId != null" > AND CART_ID = #{cartId} </if>
	    <if test="status != null" > AND STATUS = #{status} </if>
	    <if test="shipName != null" > AND SHIP_NAME = #{shipName} </if>
	    <if test="shipZip != null" > AND SHIP_ZIP = #{shipZip} </if>
	    <if test="shipCountry != null" > AND SHIP_COUNTRY = #{shipCountry} </if>
	    <if test="shipCity != null" > AND SHIP_CITY = #{shipCity} </if>
	    <if test="shipDate != null" > AND SHIP_DATE = #{shipDate} </if>
	    <if test="shipAddress != null" > AND SHIP_ADDRESS = #{shipAddress} </if>
	    <if test="phone != null" > AND PHONE = #{phone} </if>
	    <if test="cellPhone != null" > AND CELL_PHONE = #{cellPhone} </if>
	    <if test="email != null" > AND EMAIL = #{email} </if>
	    <if test="crtcardNo != null" > AND CRTCARD_NO = #{crtcardNo} </if>
	    <if test="crtcardHolder != null" > AND CRTCARD_HOLDER = #{crtcardHolder} </if>
	    <if test="exprdate != null" > AND EXPRDATE = #{exprdate} </if>
	    <if test="cardtype != null" > AND CARDTYPE = #{cardtype} </if>
	    <if test="createDate != null" > AND CREATE_DATE = #{createDate} </if>
	    <if test="updateDate != null" > AND UPDATE_DATE = #{updateDate} </if>
 </select>
</mapper>